
.small_txt {
    font-size: 12px;
}

/* Computer display */
@media screen and (min-width: 801px) {
    .footer_in a img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        transition: 1s;
    }
    .footer_in a img:hover {
        transform: scale(1.3);
    }
    .footer_in h2 {
        color: #693e97;
    }
    .footer_in {
        display: flex;
    }
    .footer_in div {
        flex-direction: column;
        width: 33%;
        padding: 20px;
    }
    .footer_right_border {
        border-right: #693e97 1px solid;
    }
    .footer_contact_us img {
        width: 30px;
        height: 30px;
        margin-bottom: -8px;
        margin-right: 10px;
    }
    .phone_footer {
        display: none;
    }
}

/* Phone display */
@media screen and (max-width: 800px) {
    .footer {
        display: none;
    }
    .phone_footer {
        text-align: center;
    }
    .phone_footer_contact_us img {
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        transition: 1s;
    }
    .phone_footer a img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        transition: 1s;
    }
    .footer_in a img:hover {
        transform: scale(1.3);
    }
    .footer_title {
        font-weight: bold;
        margin: 20px;
    }
}